.home-page {
    padding: 30px 40px;
    margin-bottom: 100px;
    // position: relative;
    .greeting-home-page {
        font-size: 32px;
    }
    .loading-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .loading-gif {
            background-color: transparent;
            height: 250px;
        }
    }
    .playlists-list {
        padding: 40px 0;
    }
    @media (max-width: 860px) {
        padding: 15px;
    }
}

@media (max-width: 860px) {
    .home-page .playlists-list {
        padding: 20px 0;
    }
    .type-of-list {
        padding-bottom: 0;
    }
    .type-of-list .playlist-category {
        padding-top: 15px;
    }
    .playlists-container {
        padding-top: 0;
        li {
            padding: 0 8px;
        }
    }
}
