.liked-songs-description {
  padding: 30px !important;
  gap: 30px !important;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
    rgb(80, 56, 160) !important;
  img {
    height: 232px;
    width: 232px;
  }
  .songs-length {
    color: #b3b3b3;
  }
}

.liked-song-page {
  & .playlist-page .linear-container {
    background-color: #5038a0 !important;
  }
}
