svg {
    height: 24px;
    width: 24px;
    color: white;
}

.side-bar-icon {
    display: flex;
    align-items: center;
}

// background: linear-gradient(135deg,#450af5,#c4efd9);

.create-playlist-icon {
    background-color:#b3b3b3;
    height: 12px;
    width: 12px;
}