header.main-header {
  height: 65px;
  background-color: rgb(28, 11, 102);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2/4;
  padding: 0 30px 0;

  button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.397);
    &.active {background-color:rgba(0, 0, 0, 0.602)};
    margin-right: 10px;

    polyline {
      stroke: white;
      stroke-width: 1px;
    }
  }
}
