.login-page-section {
  display: flex;
  text-align: center;
  flex-direction: column;

  & .logo {
    height: 80px;
    width: 60px;
    align-self: center;
    margin-top: 100px;
  }

  & .welcome {
    margin-bottom: 10px;
  }

  & .input-container {
    width: 80%;
    height: 35px;
    background-color: #3a3a3a;
    align-items: center;
    justify-content: space-around;
    padding-inline-end: 5px;
    border-radius: 0.4375rem;

    & input {
      border-radius: 0.4375rem;
      width: 90%;
      height: inherit;
      background-color: #3a3a3a;
      border: none;
      outline: none;
      color: #fff;
      background: transparent;
      padding: 0 10px;
    }
  }
  & .auth-page {
    flex-direction: column;
    align-items: center;
    position: relative;

    & .login-btn {
      color: #fff;
      width: 350px;
      height: 2.8125rem;
      border-radius: 1.25rem;
      background-color: #1aa049;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-family: GothamBold;

      &:hover {
        background-color: #1db954;
      }

      &.sign-up-btn {
        margin-top: 20px;
      }
    }

    & h4 {
      position: absolute;
      background-color: #111;
      width: 70px;
      margin-top: 185px;

      &.sign-up {
        margin-top: 497px;
      }
    }

    & hr {
      width: 350px;
      margin: 20px 0;
    }

    &.login {
      height: 350px;
      justify-content: space-between;
      &.sign-up {
        height: 650px;
      }
    }
    &.signup {
      height: 600px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    img {
      margin-bottom: 25px;
      width: 70px;
      border-radius: 50%;
      &.user-avatar {
        margin-bottom: 0;
        margin-top: 100px;
      }
    }

    input {
      width: 250px;
    }

    button {
      background: white;
      height: 30px;
      width: 100px;
      border-radius: 15px;
    }
  }
}
