.msg-modal {
    position: fixed;
    bottom: 100px;
    height: 35px;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
    background-color: $clrGreen;
    border-radius: 9px;
    display: flex;
    h1 {
        font-size: 14px;
        margin: auto;
        align-self: center;
    }
}
.fade-enter {
    opacity: 0;
    &-active {
        transition: opacity .7s;
    }
}
 
.fade-leave-active {
    transition: opacity 1s;
    opacity: 0;
}

