.playlists-list {
  padding: 40px 0;
  .playlist-category {
    font-size: 24px;
  }
  .playlists-container {
    display: flex;
    padding: 15px 0;
    list-style: none;
    height: 100%;
    flex-wrap: wrap;
  }
  ul {
    display: flex;
    gap: 20px;
  }
  li {
    border-radius: 4px;
    background-color: #181818;
    width: 270px;
    height: 380px;
    padding: 15px;
  }
  .playlist-prev-container {
    padding: 10px;
    height: 300px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  }
  .playlist-img {
    height: 225px;
    width: 225px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 8px 3px black;
  }
  .playlist-name {
    font-size: 20px;
    padding: 5px 0;
  }
  .song-name-container {
    font-size: 16px;
    color: #b3b3b3;
  }
  button {
    visibility: hidden;
    height: 40px;
    width: 40px;
    opacity: 0;
    border-radius: 50%;
    background-color: $clrGreen;
    transition: opacity 0.5s;
    position: relative;
    left: 75%;
    top: -43%;
    box-shadow: -1px 3px 8px 0px;
    &.highlight {
      visibility: visible;
      opacity: 1;
    }
    svg {
      height: 16px;
      width: 16px;
      color: white;
    }
  }
}

.playlist-prev-container:hover {
  background-color: rgba(77, 77, 77, 0.63);
}

@media (max-width: 1700px) {
  .playlists-list {
    li {
      width: 240px;
      height: 100%;
      padding: 10px;
    }
    .playlist-img {
      height: 200px;
      width: 200px;
    }
    .playlist-name {
      font-size: 16px;
    }
    .song-name-container {
      font-size: 14px;
    }
  }
}

@media (max-width: 1400px) {
  .playlists-list {
    li {
      width: 220px;
      height: 100%;
      padding: 5px;
    }
    .playlist-img {
      height: 180px;
      width: 180px;
    }
    .playlist-name {
      font-size: 16px;
    }
    .song-name-container {
      font-size: 14px;
    }
  }
}
