body {
  color: $clrTxt;
  font-family: CircularSpotify;
  background-color: $clrBgc;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main-app-container {
  display: grid;
  grid-template-columns: 260px 1fr 160px;
  grid-template-rows: auto 1fr;
}

svg {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

#app {
  grid-column: 2/-1;
}
