.footer .playedNowDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 180px;
  width: 30%;
}
.footer {
  .playedNowDetails-info {
    display: flex;
  }
}

.footer .artistImg img {
  height: 56px;
}

.footer .songDescription {
  color: white;
  align-items: center;
  column-gap: 8px;
  display: grid;
  grid-template:
    'title title'
    'badges subtitle' / auto 1fr;
  margin: 0 14px;

  & p,
  small {
    width: 100%;
    margin-left: -6px;
    margin-right: -6px;
    max-width: 260px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  & .title {
    grid-area: title;
    justify-self: start;
    text-overflow: ellipsis;
    max-height: 58px;
  }

  & .names {
    grid-area: subtitle;
    grid-column-start: badges;
  }
}

.footer .LikeBtn {
  & svg {
    stroke: #b3b3b3;
    stroke-width: 1%;

    &.heart-clicked{
      stroke-width: 0;
      color: $clrGreen;
    }
  }
}
