.playlist-page .playlist-description {
  padding: 30px 32px 24px;
  display: flex;

  background: linear-gradient(transparent,rgba(0,0,0,.5));
  & img {
    height: 232px;
    width: 232px;
    margin-inline-end: 24px;
  }
}

.description-txt {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-bottom: 14px;
  & h1 {
    font-size: rem(96px);
    line-height: rem(96px);
    padding: 0.08em 0;
  }
  & h2 {
    font-size: rem(12px);
    margin-bottom: 12px;
  }
}
