.playlist-page .linear-container {
  background-color: rgb(226, 74, 165);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
  display: flex;
  flex-direction: column;
  padding: 24px 32px;

  & section {
    border-bottom: 1px solid rgba(252, 250, 250, 0.377);
    margin-bottom: 11px;
  }

  & .btns-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    & .play-btn {
      height: rem(56px);
      width: rem(56px);
      margin-inline-end: 32px;
      background-color: $clrGreen;
      color: $clrTxt;
      border: 0;
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        height: 28px;
        width: 28px;
      }

      &:hover {
        transform: scale(1.07);
      }
    }
  }
}

.playlist-page .linear-container {
  & .heart {
    height: 32px;
    width: 32px;
    color: $clrGreen;
    margin-inline-end: 24px;
  }

  & .dots {
    height: 32px;
    width: 32px;
    color: #b3b3b3;

    &:hover {
      color: $clrTxt;
    }
  }
}

.linear-container .content-header {
  display: flex;
  display: grid;
  grid-template-columns: 32px 6fr 4fr 3fr minmax(120px, 1fr);
  // padding: 32px 24px 0;
  padding-top: 32px;
  padding-bottom: 10px;
  text-transform: uppercase;
  // justify-content: space-between;
  & svg {
    height: 16px;
    width: 16px;
  }
  .time {
    justify-self: end;
    margin-right: 15px;
  }
}
