.playlist-page {
  width: 100%;
  & span,
  p {
    opacity: 0.7;
  }
  & span,
  a {
    font-size: rem(14px);
  }
  & .dot {
    font-size: rem(10px);
    margin: 0 4px;
  }
  & .playlist-header-container {
    background-color: rgb(226, 74, 165);
  }
}
.add-song-container {
  padding: 30px;
}

.add-song {
  width: 270px;
  background-color: #404040;
  border-radius: 4px;
  .search-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  input {
    background-color: #404040;
    color: #b6b2aa;
    height: 40px;
    opacity: 1;
    text-overflow: ellipsis;
    font-weight: bold;
    border: none;
    outline: none;


  }
  svg {
    position: relative;
    color: #b6b2aa;
    height: 20px;
    width: 20px;
  }
}
