.playlist-content {
  padding: 0 32px;
  grid-gap: 16px;
  display: grid;

  & .song-container {
    align-items: center;
    display: grid;
    grid-template-columns: 32px 6fr 3fr minmax(120px, 1fr);
    border-radius: 5px;
    height: 56px;
    z-index: 10;
    cursor: grab;

    & .song-details {
      align-items: center;
    }

    & .song-img {
      height: 50px;
      width: 50px;
      margin-inline-end: 16px;
      object-fit: cover;
    }

    & .index {
      padding: 5px;
    }

    & .play-btn {
      background: transparent;
      color: white;
      border: 0;
      height: 32px;
      width: 32px;
      padding-left: 0;
      padding-right: 12px;
      & svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.song-container a {
  text-decoration: none;
  color: $clrTxt;
}

.song-container .like-btn {
  background-color: transparent;
  color: #b3b3b3;
  font-size: 0.9375rem;

  &:hover {
    color: white;
  }
  &.btn-liked {
    color: $clrGreen;
  }
}

.song-container .song-options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .heart-container {
    min-width: 32px;
  }
}

.song-container .dots-container {
  width: 25px;
  height: 16px;
  margin-left: 10px;
  font-size: rem(9px);
  font-weight: lighter;
  color: #b3b3b3;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.allow-drop {
  height: 40px;
  width: 100%;
}

.ghost {
  border-left: 6px solid $clrGreen;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.14);
  opacity: 0.7;
  transform: translateX(-20px) !important;
  margin: 15px 0;
}
.sortable-drag {
  opacity: 0;
}

@media (max-width: 840px) {
  .playlist-content {
    & .date-added-song {
      display: none;
    }

    & .song-container {
      grid-template-columns: 32px 6fr minmax(120px, 1fr);
    }
  }
}

@media (max-width: 600px) {
  .playlist-content {
  }
}

@media (max-width: 480px) {
  .playlist-content {
    & p {
      font-size: rem(12px);
    }
  }
}
